body {
    background-color: rgb(180, 180, 180);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(100, 100, 100);
}

a {
    color: rgb(100, 100, 100);
    white-space: nowrap;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li::marker {
    display: none;
    margin: 0;
    padding: 0;
}

a:hover {
    color: rgb(100, 100, 100);
}

.navbar {
    background-color: white;
}

#logo {
    background-color: #4aaaa5;
    display: block;
    padding: 10px 20px;
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-left: 70px;
    height: 100%;
}

#navbar-link {
    text-align: center;
    margin: 0;
    padding: 10px;
}

#content {
    margin-top: 50px;
    margin-bottom: 50px;
}

.col-md-8 {
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-4 {
    padding-right: 15px;
    padding-left: 15px;
}

#intro {
    background-color: white;
}

.intro-header {
    line-height: 3;
    color: #4aaaa5;
    font-weight: 600;
    padding: 0 20px;
}

#intro-text {
    line-height: 2;
    padding: 20px;
}

#intro-image {
    display: block;
    max-width: 50%;
    max-height: 40%;
    width: auto;
    height: auto;
    float: left;
    padding: 0 0 20px 20px;
}

#vis-image {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    float: left;
    padding: 0 0 20px 20px;
}

#visualiztions-nav {
    background-color: white;
}

#images-nav {
    display: grid;
    grid-template-columns: auto auto;
}
.img-nav {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}